body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e04e19;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  width: 90%;
  background: #0a0a0a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  text-align: center;
  color: #15ed2b;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.summary {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  margin: 5px 0;
}

#totalRevenue {
  font-size: 20px;
  font-weight: bold;
  color: #ed15d4;
}

@media (max-width: 768px) {
  input, button {
    font-size: 14px;
    padding: 8px;
  }

  #totalRevenue {
    font-size: 18px;
  }
}



.delete-section {
  margin-top: 20px;
  text-align: center;
}

#deleteDate {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ed15d4;
  border-radius: 5px;
}

#deleteButton {
  margin-top: 15px;
  padding: 10px;
  font-size: 18px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#deleteButton:hover {
  background-color: #c0392b;
}
